doctype html5
html
	head
		title
		link(href="estilos.css" rel='stylesheet')
	body
		header
			ul
				li:a(href="#") Item1
				li:a(href="#") Item1
				li:a(href="#") Item1
				li:a(href="#") Item1
	section
		div
		.darknes
		.lighten
		.saturation
		.desaturation
		.rgba
		.invert
		.complement
