doctype html
html(lang="es")
	heade
		title primer pagina
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")
		link(rel="stylesheet" href="estilos.css")
	body.desarrollo
		.grupo
			.caja.web-50
				h1 primer proyecto  ed grid
			.caja.web-50
				h2 con sass
