<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title(Document)
		link(rel="stylesheet" href="estilos.css")
		script(src="jquery.js")

	body
		h1 Acordeon con jquery
		.acordeon
			- for(var i=0; i<5; i++)
				.contenedor
					h2.acordeon__title Titulo
					p.acordeon__cont  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit, inventore pariatur ipsa voluptatem voluptates, praesentium! Minima quo aspernatur beatae, sit eveniet asperiores rerum aut esse ullam fugit, velit, reiciendis!

	script(src="acordeon.js")