header {
    background: #2c4500;
    color: #FFF;
}

.main{
    background: #ff3230;
}

.color1{
    background: #1d8c86;
     color: #FFF;
}

aside{
    background: #00ff00;
     color: #FFF;
}

footer{
    background: #ff22ff;
     color: #FFF;
}